doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dự đoán sinh viên đi trễ
    link(rel="stylesheet", href="/style.css")
  body
    .container
      header
        //- h1 Dự Đoán Xác Suất Đi Trễ Của Sinh Viên
      block content