doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dự đoán sinh viên đi trễ
    link(rel="stylesheet", href="/style.css")
  body
    .background-pattern
    .container
      header
        .brand
          h1 Dự đoán sinh viên đi trễ
          p.subtitle Dữ liệu thời gian thực & mô hình học máy
        nav
          ul
            li: a(href="/") Trang chủ
            li: a(href="/#how-it-works") Cách hoạt động
            li: a(href="/#about") Về dự án
      main
        block content
      footer
        p © #{new Date().getFullYear()} PredictLate · Xây dựng bởi đội ngũ Trita